{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}



<section class="home-carousel" style="visibility:hidden;">
    <ul class="slider rellax" data-rellax-speed="-12">
        <li><img src="/img/ocean.jpg"></li>
        <li><img src="/img/pa.jpg"></li>
        <li><img src="/img/umbrella.jpg"></li>
        <li><img src="/img/asia.jpg"></li>
    </ul>
</section>
<section class="booking-home">
    <div class="container-fluid">
        <form method="post" action="/rooms/search-results" id="searchHome">
            <div class="row">
                <div class="col-md-3  col-sm-3">
                    <h2>Book it online</h2>
                </div>
                <div class="col-md-3  col-sm-3 col-md-offset-1">
                    <input id="checkin" type="text" class="form-control" name="checkin">
                    <i class="fa fa-calendar fa-2x"></i>
                </div>
                <div class="col-md-3 col-sm-3">
                    <input id="checkout" type="text" name="checkout">
                    <i class="fa fa-calendar fa-2x"></i>
                </div>
                <div class="col-md-2  col-sm-3">
                    <button type="submit" class="btn btn-primary find-rooms">Find Rooms</button>
                </div>
            </div>
        </form>
    </div>
</section>
<section id="intro">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h2>Welcome to Roksana Blue Resort</h2>
                <p>This property is 2 minutes walk from the beach. It offers smoking and non-smoking rooms with a private balcony
                    and iPod docking station. The hotel is equipped with an outdoor pool, a fitness centre and free Wi-Fi.</p>
                    <br>
                    <p>Rooms at Roksana Blue Resort are furnished with modern décor. Each room comes with a cable TV,
                        a refrigerator and a safety deposit box. Free toiletries and a hairdryer are included in an en suite
                        bathroom. </p>
                    <br>
                    <p>Guests can enjoy breakfast at Express Breakfast Bar from 06:00 to 10:30 hrs. Beverages are offered
                        at Great Room Bar from 10:30 to 21:30 hrs.</p>
            </div>
        </div>
    </div>
</section>
<section class="amenities">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <a href="/amenities/beach-gallery"><img src="/img/beach.png" class="img-responsive" ></a>
            <h2>Beautiful Beach</h2>
            <p>We have our own beach with clean white sand and turquise water. You can spend days swimming, enjoying cocktails or snorcling as well as scuba diving</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="/amenities/spa-gallery"><img src="/img/spa.png" class="img-responsive"></a>
            <h2>SPA center</h2>
            <p>Spa center of the hotel offers an indoor pool with jacuzzi, dry sauna with aromatic oils, steam bath and the most modern gym in which there is an upright bike, orbitek Elliptical, treadmill and others. </p>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="/amenities/party-gallery"><img src="img/cocktails.png" class="img-responsive"></a>
            <h2>Cocktail Evenings</h2>
            <p>We organize cocktail parties for our guests ever evening with an amazing variety of cocktails from different parts of the world. Our barmens are professionals who will surprise you every time  </p>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="#"><img src="img/view.png" class="img-responsive"></a>
            <h2>Spectacular views</h2>
            <p>You can behold an amazing view of sea, island and city from your window, bower and roof of our hotel at day or at night</p>
        </div>
    </div>
    </div>
</section>

<section id="rooms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 images">
                    <a href="#">
                        <img src="img/rooms/family_one_bedroom.jpg"  class="img-responsive">
                        <div class="captions">
                            <div class="well">
                                <h3>Family One-Bedroom Executive Suite</h3>
                                <hr>
                                <p>On of the best options for families with children</p>
                            </div>
                        </div>
                    </a>
            </div>
            <div class="col-md-4 images">
                <a href="#">
                    <img src="img/rooms/three_bedroom_grand_suite.jpg"  class="img-responsive">
                    <div class="captions">
                        <div class="well">
                            <h3>Three Bedroom Grand Suite</h3>
                            <hr>
                            <p>A huge option with amazing cityscape view</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 images">
                <a href="#">
                    <img src="img/rooms/family_one_bedroom.jpg" class="img-responsive">
                    <div class="captions">
                        <div class="well">
                            <h3>Three Bedroom Grand Suite</h3>
                            <hr>
                            <p>Exquisite Interior And Modern Design</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 images">
                <a href="#">
                    <img src="img/rooms/one_bedroom_garden.jpg" class="img-responsive">
                    <div class="captions">
                        <div class="well">
                            <h3>One Bedroom Room With Garden View</h3>
                            <hr>
                            <p>A budget option for backpackers</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 images">
                <a href="#">
                    <img src="img/rooms/delux.jpg" class="img-responsive">
                    <div class="captions">
                        <div class="well">
                            <h3>Delux Room With Seaview</h3>
                            <hr>
                            <p>A luxury option with spectacular view of the coastline</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="addServices">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>Extra services</h1>
            </div>
        </div>
        <div class="row service  align-items-center">
            <div class="col-sm-7">
                <img src="/img/jungle.jpeg">
            </div>
            <div class="col-sm-5 text">
                <h3>Jungle tours</h3>
                <p>We offer complex jungle tours with different duration and complexity. You can try family rides on elephants, one-week wild tours or just one-day observing tour in mountains</p>
            </div>
        </div>
        <div class="row service">
            <div class="col-sm-5 boat-text">
                <h3>Boat trips</h3>
                <p>Discover nearest wild untouched island with our professional crew, stay a night at uninhabited island or just try snorkeling at nearest corral rifs</p>
            </div>
            <div class="col-sm-7 images boat-img">
                <img src="/img/ocean.jpg">
            </div>
        </div>
        <div class="row service">
            <div class="col-sm-7  images">
                <img src="/img/cooking.jpg">
            </div>
            <div class="col-sm-5">
                <h3>Cooking courses</h3>
                <p>Try to learn how to cook right Tom Yam, Pad Thai or other local cuisine</p>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block footer %}
<script>
    // Also can pass in optional settings block
    var rellax = new Rellax('.rellax');
</script>
<script>

    // easing
    jQuery.easing.def = "easeOutCirc";

    // slider initialization
    $(".slider").slider({
        speed: 1200,
        delay: 5000,
        pagination: true,
        height: '700px',
        buttons: {
            prev: "<div class='prev slider-buttons'><span>&#8249;</span></div>",
            next: "<div class='next slider-buttons'><span>&#8250;</span></div>"
         }
    });

    $(window).resize(function () {
        switchColumns();
    });
    $(document).ready(function () {
        switchColumns();
    });

    // switch columns' places on resize
    function switchColumns(){
        if($(window).width() < 771){
            $(".boat-text").before($(".boat-img"));
        } else {
            $(".boat-text").after($(".boat-img"));
        }
    }








</script>
{% endblock %}
